################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MP_Couture/v15/Server/sqlite3
/.vs/MP_Couture/v15
/MP_Couture/obj
